<body class="home page-template page-template-page_HOME page-template-page_HOME-php page page-id-2 unknown">
<app-nav></app-nav>

<div id="barba-wrapper">
    <div class="barba-container marketing_plan page" data-namespace="page_servizio" data-page-color="">

        <div class="pageVisual ">
            <div class="container no-padding">
                <div class="col-sm-7 col-md-6 no-padding-left pageVisual__subWrapper">
                    <h1 class="pageVisual__sub homeSection__sub" id="typed">
                    <span class="sologan" typingAnimation [typeSpeed]="50" [condition]="start" [startDelay]="1000" [hideCursorOnComplete]="true">
                        {{stringSologan1}}
                    </span><br />
                    <span class="sologan" typingAnimation [typeSpeed]="50" [condition]="start" [startDelay]="1000" [hideCursorOnComplete]="true">
                        {{stringSologan2}}
                    </span>
                    </h1>
                </div>
                <div class="col-sm-5 col-md-6 pageVisual__imageWrapper no-padding-right">
                    <img class="pageVisual__image lazy center-block" src="assets/img/courses.svg" style="width: 150%">
                </div>
            </div>
        </div>

        <div class="lifestyleWrapper" *ngFor= "let course of course" >
         <div class="container" *ngIf="course.class == curPath" >
            <div class="col-md-8 center-block">
               <div class="lifestyleWrapper__box">
                  <strong class="homeSection__title lifestyleWrapper__title text-center">{{course.title}}</strong>
                  <div class="homeSection__text lifestyleWrapper__txt text-center">
                     <div class="page" title="Page 11">
                        <div class="section">
                           <div class="layoutArea">
                              <div class="column">
                                 <p>This is where the magic happens. Our office has become our home away from home, a place where we think, create and connect.</p>
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
                  <ul class="lifestyleWrapper__list clearfix">
                     <li class="lifestyleWrapper__img no-padding"><img class="lazy" alt="" src="assets/img/focus/enviroment_01.jpg" style=""></li>
                     <li class="lifestyleWrapper__img no-padding"><img class="lazy" alt="" src="assets/img/focus/enviroment_05.jpg" style=""></li>
                     <li class="lifestyleWrapper__img no-padding"><img class="lazy" alt="" src="assets/img/focus/enviroment_03.jpg" style=""></li>
                     <li class="lifestyleWrapper__img no-padding"><img class="lazy" alt="" src="assets/img/focus/enviroment_04.jpg" style=""></li>
                  </ul>
               </div>
               <div class="lifestyleWrapper__box">
                  <strong class="homeSection__title lifestyleWrapper__title text-center">Business review: Carnia</strong>
                  <div class="homeSection__text lifestyleWrapper__txt text-center">
                     <div class="page" title="Page 12">
                        <div class="section">
                           <div class="layoutArea">
                              <div class="column">
                                 <p>In autumn we visited Carnia, a region of Friuli Venezia Giulia that borders with Austria and Slovenia. Surrounded by the peaks of the Carnic Alps, leaving our tracks in the fresh snow, we fell in love with this place.</p>
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
                  <ul class="lifestyleWrapper__list clearfix">
                     <li class="lifestyleWrapper__img no-padding"><img class="lazy" alt="" src="assets/img/focus/carnia.jpg" style=""></li>
                     <li class="lifestyleWrapper__img no-padding"><img class="lazy" alt="" src="assets/img/focus/carnia-storeis.jpg" style=""></li>
                  </ul>
               </div>
               <div class="lifestyleWrapper__box">
                  <strong class="homeSection__title lifestyleWrapper__title text-center">Padua</strong>
                  <div class="homeSection__text lifestyleWrapper__txt text-center">
                     <div class="page" title="Page 12">
                        <div class="section">
                           <div class="layoutArea">
                              <div class="column">
                                 <p>We work in the heart of one of the most charming and dynamic cities in Italy. Home to Italy’s second-oldest University, Padua is one of the main economic centres of North Eastern Italy.</p>
                              </div>
                           </div>
                        </div>
                     </div>
                     <p>&nbsp;</p>
                  </div>
                  <ul class="lifestyleWrapper__list clearfix">
                     <li class="lifestyleWrapper__img no-padding"><img class="lazy" alt="" src="assets/img/focus/P8900577.jpg" style=""></li>
                  </ul>
               </div>
               <div class="lifestyleWrapper__box">
                  <strong class="homeSection__title lifestyleWrapper__title text-center">Business Review: Apulia</strong>
                  <div class="homeSection__text lifestyleWrapper__txt text-center">
                     <div class="page" title="Page 12">
                        <div class="section">
                           <div class="layoutArea">
                              <div class="column">
                                 <p>Last summer we travelled south to Apulia, among trulli and century-old olive trees. It was the perfect location to take stock of the situation, brainstorm and get ready to kick off new projects.</p>
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
                  <ul class="lifestyleWrapper__list clearfix">
                     <li class="lifestyleWrapper__img no-padding"><img class="lazy" alt="" src="assets/img/focus/travel.jpg" style=""></li>
                     <li class="lifestyleWrapper__img no-padding"><img class="lazy" alt="" src="assets/img/focus/P8810491.jpg" style=""></li>
                    
                  </ul>
               </div>
            </div>
           
         </div>
      </div>

    </div>
</div>

<app-footer></app-footer>
</body>














<!-- <div class="details-courses-main">
    <mat-card>
    <mat-card-content>
    <mat-tab-group class="demo-tab-group">

    <mat-tab label="Progress">
    <br />
    <br />
    <div class="demo-tab-content">
            <mat-accordion *ngFor= "let course of course"  routerLinkActive="active">
              <mat-expansion-panel *ngIf="course.routerUrl == 3" >
                <mat-expansion-panel-header *ngFor = "let coursedetail of course.title"  >
                  <mat-panel-title ng-style="padding-top: 10px;">
                    <div *ngIf="course.routerUrl == 2">{{course.levels}}</div>
                  </mat-panel-title>
                   <mat-panel-description>
                    {{coursedetail}}
                  </mat-panel-description>
                </mat-expansion-panel-header>
                    <div class="decsription-child">
                         <p>I'm visible because I am open</p>
                    </div>
              </mat-expansion-panel>

            </mat-accordion>
        </div>
        </mat-tab>

        <mat-tab label="OverView">
        <br />
        <br />
        <div class="demo-tab-content">
            In sodales pretium ultrices. Maecenas lectus est, sollicitudin consectetur felis nec,
            feugiat ultricies mi. Aliquam erat volutpat. Nam placerat, tortor in ultrices porttitor,
            orci enim rutrum enim, vel tempor sapien arcu a tellus.
        </div>
        </mat-tab>
        </mat-tab-group>
        </mat-card-content>
        </mat-card>
        <br />
        <br />
        <div class="wrapper">
        </div>
        <a>{{curPath}}</a>
        <br />
        <br />
    </div> -->